<footer class="bg-dark text-white   " style="padding-top: 100px; padding-bottom: 78px;" >
    <div class="container ">
      <div class="row ">
        <div class="col-md-3">
          <h5>Section</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white">Home</a></li>
            <li><a href="/features" class="text-white">Features</a></li>
            <li><a href="/pricing" class="text-white">Pricing</a></li>
            <li><a href="/faqs" class="text-white">FAQs</a></li>
            <li><a href="/about" class="text-white">About</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Section</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white">Home</a></li>
            <li><a href="/features" class="text-white">Features</a></li>
            <li><a href="/pricing" class="text-white">Pricing</a></li>
            <li><a href="/faqs" class="text-white">FAQs</a></li>
            <li><a href="/about" class="text-white">About</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Section</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white">Home</a></li>
            <li><a href="/features" class="text-white">Features</a></li>
            <li><a href="/pricing" class="text-white">Pricing</a></li>
            <li><a href="/faqs" class="text-white">FAQs</a></li>
            <li><a href="/about" class="text-white">About</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <form class="form-inline">
            <input type="email" class="form-control mb-2 mr-2" placeholder="Email address">
            <button type="submit" class="btn btn-success mb-2">Subscribe</button>
          </form>
        </div>
      </div>
      <p class="text-center mt-4">&copy; 2024 Company, Inc. All rights reserved.</p>
      
    </div>
    <div class="d-flex justify-content-center"><img src="/assets/logo.png" class="d-flex justify-content-center " alt="" srcset=""></div>
  </footer>