<div class="card px-2 py-2 " style="width: 18rem; height: 20rem;">
    <img
      class="card-img-top"
      [src]="material.image"
      alt="Image Not Found"
      style="height: 60%; object-fit: cover;"
    />
    <div class="card-body d-flex justify-content-center row" style="text-overflow: ellipsis;  overflow: hidden;  max-width: 17rem;">
      <h5 class="card-title">{{material.name}}</h5>
      <p class="card-text" *ngFor="let d of material.description" style="color: black;">
        {{d}}  
      </p>
      
    </div>
    
  </div>